<div class="card mb-3 mt-5" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
        <%= image_tag 'user.png', class: 'profile_img' %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">Juan Pablo Ferrada Pérez</h4>
                <p class="card-text">Telefono : +569 63631275</p>
                <p class="card-text">Correo : juan.ferrada.1991@gmail.com</p>
                <p class="card-text">Direccion: Av. Martin Alonqueo 1964 F</p>
                <p class="card-text"><small class="text-muted">Ultima actualizacion hace 3
                minutos atras</small></p>
            </div>
        </div>
    </div>
</div>